@model List<Model.Entity.TheLoai>

<div class="categories">
    <ul>
        <h3>Danh Mục Sản Phẩm</h3>
        @foreach (var item in Model)
        {           
        <li><a href="@Url.Action("Category","SanPham", new { @masp = item.MaTL})">@item.Ten</a></li>
        }
    </ul>
</div>

