@model List<ShopQuanAo.Models.GioHang>
<div class="cart">
    <p>
        Chào mừng đến với Shop Quần Áo <span>Giỏ Hàng:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm(s) - $0.00
            <ul class="dropdown">
                <li>Bạn không có sản phẩm nào trong giỏ hàng</li>
            </ul>
        </div>
    </p>
</div>