<div class="menu">
    <ul>
        <li class="active"><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
        <li><a href="@Url.Action("Index","SanPham")">Sản Phẩm</a></li>
        <li><a href="news.html">Tin Tức</a></li>
        <li><a href="contact.html">Hợp Tác</a></li>
        <div class="clear"></div>
    </ul>
</div>